<!-- event page -->
<link href="/css/eventpage.css" rel="stylesheet"/>
<body>
  {{> header }}
  {{> nav }}

  <div class="post">
    <div>
      <!-- Add Edit and Delete Event buttons here -->
    <button type="button" class="btn btn-danger delete-event-btn" data-event-id="{{event.event_id}}">Delete Event</button>
    <button type="button" class="btn btn-warning edit-event-btn" data-event-id="{{event.event_id}}">Edit Event</button>
    <h3 id="eventTitle">{{event.event_title}}</h3>
    <p>Posted by: <a href="/profile/{{event.event_poster}}">{{event.event_poster}}</a> | Date: {{event.event_date}}</p>
    <p id="eventContent">{{event.event_content}}</p>
    </div>

    <div class="like-dislike">
      <button type="button" class="btn btn-success like-btn" data-event-id="{{event.event_id}}">Like <span class="like-count">{{event.event_likes}}</span></button>
      <button type="button" class="btn btn-danger dislike-btn" data-event-id="{{event.event_id}}">Dislike <span class="dislike-count">{{event.event_dislikes}}</span></button>
    </div>

    <div class="comments-section hidden">
      
        <form id="commentForm" action="/submitEventComment" method="POST">
          <input type="hidden" id="eventId" name="eventId" value="{{event.event_id}}">
          <input type="text" placeholder="Add a comment..." class="comment-input" name="commentText" maxlength="500">
          <button type="submit" class=" btn btn-primary btn-add-comment">Add Comment</button>
        </form>

        {{#each comment}}
          <div class="comment">
            <p><strong>{{comment_poster}}</strong> | {{comment_date}}</p><p>{{comment_content}}</p>
          </div> 
        {{/each}}
      </div>
    </div>
  </div>

  <script src="/js/eventpage.js"></script>
</body>
